* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.header {
  border: 2px solid black;
}

.heading h1 {
  text-align: center;
  margin-bottom: 7%;
}

ul {
  text-align: right;
}

.logo {
  float: left;
  width: 50%;
}

.container {
  margin-top: 10%;
}

.link a,
.logo a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 900;
  padding: 2%;
}

.link {
  display: inline;
  text-decoration: none;
  text-align: right;
}

.books-list {
  border: 2px solid black;
}

.button-remove {
  text-align: right;
}

.date-time {
  text-align: right;
}

.add-book {
  width: 40%;
  margin: 0 auto;
}

.add-book input {
  width: 100%;
  border: 2px solid black;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 6%;
}

.btn-add {
  text-align: right;
}